<mat-card>
  <mat-card-header>
    <card-toolbar>
      <card-toolbar-title>
        Appareils locales ({{localDevices.length}})
      </card-toolbar-title>
      <card-toolbar-actions>
        <button (click)="loadLocalDevices()" mat-icon-button><mat-icon>refresh</mat-icon></button>
      </card-toolbar-actions>
    </card-toolbar>
    <card-progress-bar *ngIf="loading"></card-progress-bar>
  </mat-card-header>

  <mat-card-content>
    <mat-table #table [dataSource]="dataSource"id="local-devices-table" *ngIf="!loading">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ip">
        <mat-header-cell *matHeaderCellDef> Addresse IP </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ip}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mac">
        <mat-header-cell *matHeaderCellDef> Mac Adresse </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mac}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>

</mat-card>
