<md-toolbar>
  Portail des Oubliettes
</md-toolbar>
<div id="main-container">
  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex>
      <app-chromecast-list></app-chromecast-list>
    </div>
    <div fxFlex>Something else</div>
  </div>

  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex>
      <app-local-device-list></app-local-device-list>
    </div>
  </div>
</div>

