<md-toolbar>
  <span>Portail des Oubliettes</span>
  <span class="fill-space"></span>
  <span>{{currentTime | date:'d MMM y - H:mm:ss'}}</span>
</md-toolbar>
<div id="main-container">
  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex>Something else</div>
    <div fxFlex="350px">
      <app-chromecast-list></app-chromecast-list>
    </div>
  </div>

  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex>
      <app-local-device-list></app-local-device-list>
    </div>
  </div>
</div>

