<md-card>
  <md-card-header>
    <card-toolbar>
      <card-toolbar-title>
        Prévision
      </card-toolbar-title>
    </card-toolbar>
  </md-card-header>
  <md-card-content>
    <div style="display: block;">
      <canvas baseChart
              [datasets]="forecastTempData"
              [labels]="forecastTempLabel"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [colors]="lineChartColors"
              [chartType]="lineChartType"></canvas>
    </div>

    <div style="display: block;">
      <canvas baseChart
              [datasets]="forecastRainData"
              [labels]="forecastTempLabel"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"></canvas>
    </div>

  </md-card-content>
</md-card>
