/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.full-width{
  width: 100%;
}

.mat-card-header{
  display: block !important;
  padding-bottom: 15px;
}

mat-card{
  margin: 10px;
}

.fill-space{
  flex: 1 1 auto;
}

.right-separator {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0,0,0,.12);
}

.left-separator {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(0,0,0,.12);
}

.center-text {
  display: flex;
  justify-content:center;
  align-items:center;
}

.capitalize{
  text-transform: capitalize;
}

.flat {
  color: #000000;
  text-decoration: none;
}

.container{
  padding-bottom: 20px;
}

.spacer {
  flex: 1 1 auto;
}
