<mat-card>
  <mat-card-content>
    <div class="container"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">

      <div fxFlex id="date">
        {{currentTime | date:'d'}}
      </div>
      <div fxFlex class="right-separator left-separator">
        {{currentTime | date:'EEEE'}}
      </div>
      <div fxFlex class="right-separator">
        {{currentTime | date:'MMMM'}}
        <br>
        {{currentTime | date:'y'}}
      </div>
      <div fxFlex>
        {{currentTime | date:'H:mm:ss'}}
      </div>
    </div>
  </mat-card-content>
</mat-card>

